.card{
    border-radius: 5px;
    background-color: rgb(198, 201, 195);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 21px;   
}

.card img{
    width: 221px;
}

.event_name{
    border-top: 1px solid red ;
    width: 100%;
    text-align: center;
    font-family: ubuntu;
    color: red;
    font-size: 25px;
}
.view_more_btn{
    color: black;
    font-family: ubuntu;
    padding-top: 11px;
    padding-bottom: 5px;
    background-color: skyblue;
    width: 100%;
    text-align: center;  
}

.view_more_btn:hover{
    cursor: pointer;
    background-color: #FF9800;
}